# Node.js
node_modules/
.env
.env.local
.npmrc

# TypeScript
*.tsbuildinfo

# Build output
dist/

# Logs
*.log

# VSCode / JetBrains IDE
.vscode/
.idea/

# macOS / Windows
.DS_Store
Thumbs.db

# NPM debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test / Example Apps (don't version control them in main package)
examples/
coverage/
